body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    color: gray;
    text-align: center;
    margin: 0;
    padding: 0;

}

header{
    background-color: #007bff;
    color: white;
    padding: 1.5em 0;
}

section{
    margin: 2em auto;
    width: 80%;
}

footer{
    background-color: black;
    color: #007bff;
    padding: 0.5em;
}